<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.zylkerservices.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.zylkerservices.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchController</display-name>
    <servlet-name>searchController</servlet-name>
    <servlet-class>com.zylkerservices.searchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServicesController</display-name>
    <servlet-name>MyServicesController</servlet-name>
    <servlet-class>com.zylkerservices.MyServicesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServicesController</servlet-name>
    <url-pattern>/account/myservices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartnerProfileViewController</display-name>
    <servlet-name>PartnerProfileViewController</servlet-name>
    <servlet-class>com.zylkerservices.PartnerProfileViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartnerProfileViewController</servlet-name>
    <url-pattern>/search/partner</url-pattern>
    <url-pattern>/partner</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ResponseHeaders</display-name>
    <filter-name>ResponseHeaders</filter-name>
    <filter-class>com.zylkerservices.ResponseHeaders</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseHeaders</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>JWTFilter</display-name>
    <filter-name>JWTFilter</filter-name>
    <filter-class>com.zylkerservices.JWTFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JWTFilter</filter-name>
    <url-pattern>/account/*</url-pattern>
    <url-pattern>/search/partner/*</url-pattern>
    <url-pattern>/account/favourites/*</url-pattern>
    <url-pattern>/account/analytics/*</url-pattern>
    <url-pattern>/account/orders/*</url-pattern>
    <url-pattern>/myorders/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FavouritesController</display-name>
    <servlet-name>FavouritesController</servlet-name>
    <servlet-class>com.zylkerservices.FavouritesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavouritesController</servlet-name>
    <url-pattern>/account/favourites</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalyticsController</display-name>
    <servlet-name>AnalyticsController</servlet-name>
    <servlet-class>com.zylkerservices.AnalyticsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyticsController</servlet-name>
    <url-pattern>/account/analytics/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersController</display-name>
    <servlet-name>OrdersController</servlet-name>
    <servlet-class>com.zylkerservices.OrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersController</servlet-name>
    <url-pattern>/account/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrdersController</display-name>
    <servlet-name>MyOrdersController</servlet-name>
    <servlet-class>com.zylkerservices.MyOrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrdersController</servlet-name>
    <url-pattern>/account/myorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WalletController</display-name>
    <servlet-name>WalletController</servlet-name>
    <servlet-class>com.zylkerservices.WalletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WalletController</servlet-name>
    <url-pattern>/account/wallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsController</display-name>
    <servlet-name>TransactionsController</servlet-name>
    <servlet-class>com.zylkerservices.TransactionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsController</servlet-name>
    <url-pattern>/account/transactions/*</url-pattern>
  </servlet-mapping>
</web-app>